<div class="row">
  <div class="col-md-8">
    <h3>Most recent:</h3>
    <%= render @blogs %>
    <%= paginate @blogs %>
  </div>
  <div class="col-md-4">
    <h3>Top comments blog</h3>
    <% @hots.each do |hot| %>
      <div class="card">
        <p class="card-text"><%= hot.first.creator.name %></p>
        <p class="card-text"><%= hot.first.title %></p>
        <p class="card-text"><%= hot.last %> comments</p>
      </div>
    <% end %>
  </div>
</div>
