<% if current_user %>
  <h4 class="card-title">Add new comment:</h4>
  
  <%= form_for(@blog.comments.new) do |f| %>
    <%= f.hidden_field :commenter_id, :value => current_user.id %>
    <div class="input-group">
      <%= f.text_field :content, required: true, class: 'form-control' %>
      <span class="input-group-btn">
        <%= f.submit "Send", class: 'btn btn-secondary' %>  
      </span>
    </div>
  <% end %>
<% else %>
  <p class="card-title"><%= link_to "Sign up", new_user_path %> to add comment </p>
<% end %>